{% extends "layout/guest.html.twig" %}
{% block body %}
  <section class="container container-narrow">
    <h1>Unsubscribed</h1>
    <p>You have been unsubscribed from Blocks Edit emails.</p>
  </section>
{% endblock %}
