.DS_Store
.idea

/public/assets/build
/public/avatars
/public/screenshots
/public/downloads
/public/tmp-uploads
/public/invoices
/templates
/sql/*
!/sql/schema.sql
/vendor
node_modules
/var/logs
/var/tmp
!/var/logs/.gitkeep
/var/cache
!/var/cache/images/.gitkeep
/config/config.yaml
/config/config-docker.yaml
/config/version.yaml
/config/nginx.conf
/config/certs
/config/*.pem
/config/config-dev.yaml
/workers/build
/assets/js/lib/site.json
.phpstorm.meta.php
.phpunit.result.cache
mysql-dump
