{% extends "layout/guest.html.twig" %}
{% block body %}
  <section class="container container-narrow card mt-5">
    {{ form_start(form) }}
      <h1 class="mb-2">Forgot password</h1>
      {{ form_row(form.email) }}
      <button type="submit" class="btn btn-main btn-wide mt-3">
        Reset my password
      </button>
    {{ form_end(form) }}
  </section>
{% endblock %}
