<section class="container container-wide billing-alert mb-3">
  <p>
    Your credit card has been declined.
    Please <a href="{{ path("billing") }}">update your billing information</a> to avoid
    interruptions of service.
  </p>
</section>
