<section class="container container-wide billing-alert mb-3">
  <p>
    Your trial period has run out! Your team can no longer build and edit emails you've shared.
    <a href="{{ path("billing") }}">Upgrade today</a>.
  </p>
</section>
