<section class="container container-wide billing-alert mb-3">
  <p>
    You have {{ billingPlan.daysUntilTrialEnds }} days left on your trial.
    <a href="{{ path("billing") }}">Buy Blocks Edit Team and upgrade today</a>.
  </p>
</section>
