<section class="billing-alert p-2 mt-2">
  <p>
    Integrations have been disabled because your trial period has ended and there is no credit card on file.
    <a href="{{ path("billing") }}">Update your billing information</a>.
  </p>
</section>
