{% extends "layout/guest.html.twig" %}
{% block body %}
  <section class="container container-narrow" style="text-align: left; width: 600px;">
    <h1>{{ code }}</h1>
    <p>{{ message }}</p>
  </section>
{% endblock %}
