@import "vars";

.billing-price-table {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  list-style: none;
}

.billing-price-table li {
  display: inline-block;
  float: left;
  width: 20%;
  text-align: center;
  font-size: $font-size-sm;
  margin-right: $gutter-2;
  padding: $gutter-3 0;

  &.current {
    border: $color-border 1px solid;
    border-radius: $border-radius;
  }
}

.billing-alert {
  color: #444444 !important;
  text-align: center !important;
  background-color: #ffe782  !important;
  font-weight: 400;

  a {
    color: #444;
    text-decoration: underline;
  }

  p {
    margin-bottom: 0;
  }
}
