@import "vars";

.user-menu {
  display: none;
  position: absolute;
  right: 6px;
  width: 150px;
  z-index: 100;
  margin-top: 10px;
  border-radius: $border-radius;
  background-color: #eee;
  padding: $gutter-2;
  list-style: none;
  font-size: $font-size-sm;
  line-height: 1.3em;
  text-align: left;

  &:before {
    content: '';
    position: absolute;
    top: -13px;
    right: 10px;
    margin-left: -7px;
    border-color: transparent transparent #eee transparent;
    border-width: 7px;
    border-style: solid;
  }

  a {
    color: $color-dark;
  }

  li {
    margin-bottom: 5px;
    color: $color-muted;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.user-menu-organization-li {
  margin: $gutter-1 0 $gutter-1 $gutter-3;
  list-style: square;

  a {
    margin-left: -5px;
  }
}
