/* ==========================================================================
 Misc
 ========================================================================= */
$offset-menu: 5px;
$duration-menus: 10;
$duration-sidebar: 150;
$z-index-mask: 10000;
$z-index-menus: $z-index-mask - 1;
$box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
